<!--<section class="slider">-->
  <!--<div lj-type="stage">-->
    <!--<div lj-type="layer" lj-native-scroll="false">-->
      <!--{% for slide in include.slides %} {{ slide.content }} {% endfor %}-->
    <!--</div>-->
    <!--<div class="slider-controls">-->
      <!--<a href="#!prev" class="slider-left">-->
      <!--</a>-->
      <!--<a href="#!next" class="slider-right">-->
      <!--</a>-->
      <!--<div class="slider-dots">-->
        <!--{% for slide in include.slides %}-->
        <!--<a href="#{{ slide.name }}" class="slider-dot">-->
          <!--<div>-->
          <!--</div>-->
        <!--</a>-->
        <!--{% endfor %}-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
