.girl-avatar {
  background: url("/assets/ima/photo-girl.jpg") no-repeat top/cover;
  border-radius: 50%;
  width: 100px !important;
  height: 100px;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-left: 80px;
  border: 1px solid #F2F2F2; }

.information-block {
  text-align: center; }

.girl-text {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 27px;
  font-weight: 300;
  line-height: 1.08;
  color: #38364b;
  margin-left: 20px; }
  .girl-text p {
    text-align: left; }

.wave-image {
  margin-top: 80px;
  margin-bottom: 26px; }

.wave-image2 {
  margin-top: 30px;
  margin-bottom: 68px; }

.content {
  padding-left: 250px !important;
  padding-right: 250px !important;
  margin-bottom: 78px;
  padding-top: 0 !important; }
  .content h1 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1.8px;
    color: #38364b;
    margin-bottom: 37px;
    font-family: 'Source Sans Pro', sans-serif; }

.content-information-1 {
  padding-right: 60px !important; }

.content-information-2 {
  padding-right: 40px !important;
  padding-left: 40px !important; }

.content-information-3 {
  padding-left: 60px !important; }

.our-features {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1.8px;
  color: #38364b; }

.outstanding-ux {
  padding: 0 !important;
  height: 160px;
  background-color: #d5c6bb;
  border-radius: 7px 7px 0 0;
  text-align: center; }

.left-information-image {
  width: 120px;
  height: 120px;
  padding: 0;
  margin-top: 20px; }

.left-information-block {
  height: 300px;
  border-radius: 0 0 7px 7px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 0;
  text-align: center; }
  .left-information-block h2 {
    font-size: 24px;
    font-weight: bold;
    color: #38364b;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 26px; }
  .left-information-block p {
    text-align: left;
    padding-left: 33px;
    margin-top: 20px;
    margin-bottom: 55px;
    margin-right: 33px;
    font-size: 18px;
    color: #38364b; }

.professional-editing {
  padding: 0 !important;
  height: 160px;
  background-color: #b7d97e;
  border-radius: 7px 7px 0 0;
  text-align: center; }

.center-information-image {
  width: 120px;
  height: 120px;
  padding: 0;
  margin-top: 20px; }

.center-information-block {
  height: 300px;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  text-align: center; }
  .center-information-block h2 {
    font-size: 24px;
    font-weight: bold;
    color: #38364b;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 26px; }
  .center-information-block p {
    text-align: left;
    padding-left: 33px;
    margin-top: 20px;
    margin-bottom: 55px;
    margin-right: 33px;
    font-size: 18px;
    color: #38364b; }

.host-or-export {
  padding: 0 !important;
  height: 160px;
  background-color: #e1939f;
  border-radius: 7px 7px 0 0;
  text-align: center; }

.right-information-image {
  width: 120px;
  height: 120px;
  padding: 0;
  margin-top: 20px; }

.right-information-block {
  height: 300px;
  border-radius: 0 0 7px 7px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  text-align: center; }
  .right-information-block h2 {
    font-size: 24px;
    font-weight: bold;
    color: #38364b;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 26px; }
  .right-information-block p {
    text-align: left;
    padding-left: 33px;
    margin-top: 20px;
    margin-bottom: 55px;
    margin-right: 33px;
    font-size: 18px;
    color: #38364b; }

/*# sourceMappingURL=information.css.map */
